**/*~
**/*.class
**/.project
**/.classpath
**/*.jar
./.gradle/7.4.2/gc.properties
./.gradle/7.4.2/checksums/checksums.lock
./.gradle/7.4.2/fileChanges/last-build.bin
./.gradle/7.4.2/fileHashes/fileHashes.lock
./.gradle/vcs-1/gc.properties
./.gradle